body {
    background: linear-gradient(to right, rgb(148, 204, 230), rgb(243, 164, 243));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

table, td {
    border: 1px solid black;
}

td {
    margin: 10px;
}

/* .tbody .fila:nth-child(odd) {
    color: green;
  }
  .tbody .fila:nth-child(even) {
    color: yellow;
  } */